.games {
    margin-top: 20vh;
    min-width: 80vw;
    height: 60vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.games a {
    text-decoration: none;
}
.container-games {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 .game {
     border: 1px solid #141864;
     padding: 3em;
     color: #141864;
     height: 187px;
     width: 250px;
     font-family: 'Press Start 2P', cursive;
     font-size: 16px;
 }

 .game:hover {
     background-position: center;
     background-size: cover;
     cursor: pointer;
     color: rgba(0, 0, 0, 0);
 }
.tictactoe:hover {
    background-image: url('tictactoe/tictactoe.gif');
 }
.tetris:hover{
    background-image: url('tetris/tetris.gif');
}
.memory:hover{
    background-image: url('memory/memory.gif');
}
.whackamole:hover{
    background-image: url('whackamole/whackamole.gif')
}
.fourup:hover{
    background-image: url('fourup/fourup.gif')
}
.notice {

    background-color: #141864;
    color: white;
    font-size: 1rem;
}
h2 {
    padding: 0 1rem;
}
* {
    box-sizing: border-box;
}
@media screem and (max-width: 1200px) {
    .notice {
        display:flex;
        /*flex-direction: end;*/
    }
}
body {
    display: flex;
    /*align-items: center;*/
    /*align-content: center;*/
    justify-content: center;

}