.games {
    margin-top: 20vh;
    min-width: 80vw;
    height: 60vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.games a {
    text-decoration: none;
}
.container-games {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 .game {
     border: 1px solid #141864;
     margin: 2rem;
     padding: 3em;
     /*color: #141864;*/
     height: 187px;
     width: 250px;
     /*font-family: 'Press Start 2P', cursive;*/
     font-size: 16px;
     background-size: cover;
 }

 /*.game:hover::before {*/
 /*    !*background-position: center;*!*/
 /*    !*background-size: cover;*!*/
 /*    content: '';*/
 /*    !*position: absolute;*!*/
 /*    background-color: blue;*/
 /*    !*height:100%;*!*/
 /*    !*width: 100%;*!*/
 /*    cursor: pointer;*/
 /*    !*left: 0;*!*/
 /*    !*top: 0;*!*/
 /*    border: 1px solid black;*/
 /*    z-index: 10;*/
 /*    !*color: rgba(0, 0, 0, 0);*!*/
 /*}*/
.tictactoe {
    background-image: url('tictactoe/tictactoe.gif');
    /*background-size: cover;*/
}
.tetris{
    background-image: url('tetris/tetris.gif');
}
.memory{
    background-image: url('memory/memory.gif');
}
.whackamole{
    background-image: url('whackamole/whackamole.gif')
}
.snake{
    background-image: url('snake/snake.gif')
}
.fourup{
    background-image: url('fourup/fourup.gif')
}
.notice {
    /*font-family: ;*/
    background-color: #141864;
    color: white;
    font-size: 1rem;
}
h2 {
    padding: 0 1rem;
}
* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
@media screem and (max-width: 1200px) {
    .notice {
        display:flex;
        /*flex-direction: end;*/
    }
}
body {
    display: flex;
    /*align-items: center;*/
    /*align-content: center;*/
    justify-content: center;
    margin: 0;

}
.game-title::before {
    margin: 2.15rem;
    content: '';
    position: absolute;
    background-color: rgba(0,255, 0, 0.7);
    z-index: -1;
    width: 150px;
    height: 1.8rem;
    left: 0;
    top: 0;
    border-radius: 5px;
}
.game:hover::before {
    height: 187px;
    width: 250px;
    margin: -3.1rem;
    content: "Let's GO!!";
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(255,255,255, .5);
    z-index: 2;
    /*border: 1px solid black;*/
    color: black;
    font-weight: bold;
    font-size: 2rem;
    font-family: Monaco;
}
.game-title {
    padding: 2.5rem;
    z-index: 5;
    position: absolute;
    margin: 0;
    color: black;
    font-size: 1rem;
    font-family: Monaco;
}
body {
    min-height: 100vh;
    min-width: 100vw;
    background-image: linear-gradient(200deg, #00613d, blue);
}