#highScores {
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    flex-direction: column;
}

#highScores button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    padding: .25em .5em;
    border-radius: 5%
}
#highScores button:hover {
    background-color: black;
    border: white;
    color: white
}

#highScores.show {
    display: flex;
}
#highScores.hide {
    display: none;
}
.hsTable {

    display: grid;
    grid-template-columns: 95vw;
    margin-left: 20vw;
    /*display: flex;*/
    /*justify-content: center;*/
    /*justify-items: center;*/
    /*align-items: center;*/

    align-content: space-evenly;

    /*background-color: green;*/
    /*flex-direction: column;*/
    height: 90vh;
    width: 90vw;
    font-size: 2.5vw;
}